In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as smf
import statsmodels.formula.api as sm
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('wage.csv', usecols=['educ', 'expersq', 'IQ', 'black', 'married'])

In [3]:
df = df.dropna()
df

      educ  black     IQ  married  expersq
1       12      0   93.0      1.0       81
2       12      0  103.0      1.0      256
3       11      0   88.0      1.0      100
4       12      0  108.0      1.0      256
5       12      0   85.0      1.0       64
...    ...    ...    ...      ...      ...
2999    16      1   79.0      1.0       16
3000    13      0  102.0      1.0       64
3003    12      1   77.0      1.0       36
3007    12      0  109.0      1.0       36
3008    12      0  107.0      1.0      169

[2060 rows x 5 columns]

In [16]:
ndarray = df.to_numpy()

numpy.ndarray

In [5]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

In [6]:
pca = PCA(n_components=1).fit(ndarray)

In [20]:
data = pd.read_csv('wage.csv', usecols=['educ', 'expersq', 'IQ', 'black', 'married','wage'])
data = data.dropna()
y = np.array(data['wage'])

In [8]:
y

array([[548],
       [481],
       [721],
       ...,
       [500],
       [713],
       [525]], dtype=int64)

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [22]:
X_train, X_test, y_train, y_test = train_test_split(ndarray,y)

In [23]:
pcr = make_pipeline(StandardScaler(), PCA(n_components=1), LinearRegression())
pcr.fit(X_train, y_train)
pca = pcr.named_steps["pca"]  # retrieve the PCA step of the pipeline

In [26]:
model = sm.ols(y_train,n_components=1).fit()

TypeError: from_formula() missing 1 required positional argument: 'data'